Examples/MadNeptun.ExampleImplementation/Service References/SoapWebservice/HttpComunicationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="Recieve">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="message" type="tns:MessageOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="sender" type="tns:NodeIdOfInt32" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MessageOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ExecutionId" type="s1:guid" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="NodeIdOfInt32">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="RecieveResponse">
        <s:complexType />
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RecieveSoapIn">
    <wsdl:part name="parameters" element="tns:Recieve" />
  </wsdl:message>
  <wsdl:message name="RecieveSoapOut">
    <wsdl:part name="parameters" element="tns:RecieveResponse" />
  </wsdl:message>
  <wsdl:portType name="HttpComunicationServiceSoap">
    <wsdl:operation name="Recieve">
      <wsdl:input message="tns:RecieveSoapIn" />
      <wsdl:output message="tns:RecieveSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HttpComunicationServiceSoap" type="tns:HttpComunicationServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Recieve">
      <soap:operation soapAction="http://tempuri.org/Recieve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HttpComunicationServiceSoap12" type="tns:HttpComunicationServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Recieve">
      <soap12:operation soapAction="http://tempuri.org/Recieve" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HttpComunicationService">
    <wsdl:port name="HttpComunicationServiceSoap" binding="tns:HttpComunicationServiceSoap">
      <soap:address location="http://localhost:4715/HttpComunicationService.asmx" />
    </wsdl:port>
    <wsdl:port name="HttpComunicationServiceSoap12" binding="tns:HttpComunicationServiceSoap12">
      <soap12:address location="http://localhost:4715/HttpComunicationService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>