Examples/MadNeptun.ExampleImplementation/Service References/SoapService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/MadNeptun.DistributedSystemManager.Core.Objects" />
  <xs:element name="Recieve">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MadNeptun.DistributedSystemManager.Core.Objects" minOccurs="0" name="sender" nillable="true" type="q1:NodeIdOfint" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MadNeptun.DistributedSystemManager.Core.Objects" minOccurs="0" name="message" nillable="true" type="q2:MessageOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>