MadNeptun.DistributedSystemManager.AdministratorPanel/Service References/SystemService/SystemCommunicationService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://SystemCommunicationService" elementFormDefault="qualified" targetNamespace="http://SystemCommunicationService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5500/SystemCommunicationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MadNeptun.DistributedSystemManager.Core.Objects" />
  <xs:import schemaLocation="http://localhost:5500/SystemCommunicationService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Receive">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MadNeptun.DistributedSystemManager.Core.Objects" minOccurs="0" name="message" nillable="true" type="q1:MessageOfstring" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MadNeptun.DistributedSystemManager.Core.Objects" minOccurs="0" name="sender" nillable="true" type="q2:NodeIdOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Init">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearExpiredAlorithms">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Alive">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AliveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AliveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Reconfigure">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="configuration" nillable="true" type="q3:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReconfigureResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveFileOnNode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fullPathToSaveFile" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="file" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveFileOnNodeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfiguration">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfigurationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetConfigurationResult" nillable="true" type="q4:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>