MadNeptun.DistributedSystemManager.AdministratorPanel/Service References/SystemService/SystemCommunicationService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://SystemCommunicationService" elementFormDefault="qualified" targetNamespace="http://SystemCommunicationService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4715/SystemCommunicationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MadNeptun.DistributedSystemManager.Core.Objects" />
  <xs:element name="Receive">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MadNeptun.DistributedSystemManager.Core.Objects" minOccurs="0" name="message" nillable="true" type="q1:MessageOfstring" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MadNeptun.DistributedSystemManager.Core.Objects" minOccurs="0" name="sender" nillable="true" type="q2:NodeIdOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Init">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearExpiredAlorithms">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearExpiredAlorithmsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>