MadNeptun.DistributedSystemManager.AdministratorPanel/Service References/SystemService/SystemCommunicationService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://SystemCommunicationService" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://SystemCommunicationService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://SystemCommunicationService/Imports">
      <xsd:import schemaLocation="http://localhost:4715/SystemCommunicationService.svc?xsd=xsd0" namespace="http://SystemCommunicationService" />
      <xsd:import schemaLocation="http://localhost:4715/SystemCommunicationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4715/SystemCommunicationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MadNeptun.DistributedSystemManager.Core.Objects" />
      <xsd:import schemaLocation="http://localhost:4715/SystemCommunicationService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISystemCommunicationService_Receive_InputMessage">
    <wsdl:part name="parameters" element="tns:Receive" />
  </wsdl:message>
  <wsdl:message name="ISystemCommunicationService_Receive_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReceiveResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemCommunicationService_Init_InputMessage">
    <wsdl:part name="parameters" element="tns:Init" />
  </wsdl:message>
  <wsdl:message name="ISystemCommunicationService_Init_OutputMessage">
    <wsdl:part name="parameters" element="tns:InitResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemCommunicationService_ClearExpiredAlorithms_InputMessage">
    <wsdl:part name="parameters" element="tns:ClearExpiredAlorithms" />
  </wsdl:message>
  <wsdl:message name="ISystemCommunicationService_ClearExpiredAlorithms_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClearExpiredAlorithmsResponse" />
  </wsdl:message>
  <wsdl:portType name="ISystemCommunicationService">
    <wsdl:operation name="Receive">
      <wsdl:input wsaw:Action="http://SystemCommunicationService/ISystemCommunicationService/Receive" message="tns:ISystemCommunicationService_Receive_InputMessage" />
      <wsdl:output wsaw:Action="http://SystemCommunicationService/ISystemCommunicationService/ReceiveResponse" message="tns:ISystemCommunicationService_Receive_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Init">
      <wsdl:input wsaw:Action="http://SystemCommunicationService/ISystemCommunicationService/Init" message="tns:ISystemCommunicationService_Init_InputMessage" />
      <wsdl:output wsaw:Action="http://SystemCommunicationService/ISystemCommunicationService/InitResponse" message="tns:ISystemCommunicationService_Init_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClearExpiredAlorithms">
      <wsdl:input wsaw:Action="http://SystemCommunicationService/ISystemCommunicationService/ClearExpiredAlorithms" message="tns:ISystemCommunicationService_ClearExpiredAlorithms_InputMessage" />
      <wsdl:output wsaw:Action="http://SystemCommunicationService/ISystemCommunicationService/ClearExpiredAlorithmsResponse" message="tns:ISystemCommunicationService_ClearExpiredAlorithms_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>